{
  "overrides": [
    {
      "files": ["vendor/narsil/cms/**/*"],
      "options": {
        "tailwindStylesheet": "./resources/css/backend.css"
      }
    }
  ],
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"],
  "printWidth": 100,
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "tailwindFunctions": ["clsx", "cn", "cva"],
  "tailwindStylesheet": "./resources/css/frontend.css",
  "trailingComma": "all"
}
