{
  "plugins": ["prettier-plugin-tailwindcss"],
  "printWidth": 80,
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "tailwindFunctions": ["clsx", "cn", "cva"],
  "tailwindStylesheet": "./resources/css/app.css",
  "trailingComma": "all",
  "overrides": [
    {
      "files": ["vendor/narsil/cms/**/*"],
      "options": {
        "tailwindStylesheet": "./vendor/narsil/cms/resources/css/app.css"
      }
    }
  ]
}
