@import "@fontsource/inter";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/700.css";

@import "tailwindcss";
@import "tw-animate-css";

@import "../../vendor/narsil/cms/resources/css/app.css";

@source "../../vendor/narsil/cms/resources";
