@import "@fontsource/roboto";
@import "@fontsource/roboto/700.css";

@import "tailwindcss";
@import "tw-animate-css";

@import "../../vendor/narsil/cms/resources/css/app.css";

@source "../../vendor/narsil/cms/resources";
