@layer base {
  :root {
    --text-sm: 0.625rem;
    --text-base: 0.75rem;
    --text-md: 0.875rem;
    --text-lg: 1rem;
    --text-xl: 1.125rem;
    --text-2xl: 1.25rem;
    --text-3xl: 1.375rem;
    --text-4xl: 1.5rem;

    @media (min-width: 640px) {
      --text-sm: 0.75rem;
      --text-base: 0.875rem;
      --text-md: 1rem;
      --text-lg: 1.125rem;
      --text-xl: 1.25rem;
      --text-2xl: 1.375rem;
      --text-3xl: 1.5rem;
      --text-4xl: 1.625rem;
    }

    @media (min-width: 1024px) {
      --text-sm: 0.875rem;
      --text-base: 1rem;
      --text-md: 1.25rem;
      --text-lg: 1.5rem;
      --text-xl: 1.75rem;
      --text-2xl: 2rem;
      --text-3xl: 2.25rem;
      --text-4xl: 2.5rem;
    }
  }
}

@theme {
  --font-sans: "Roboto", sans-serif;

  --text-sm--line-height: 1.6;
  --text-base--line-height: 1.6;
  --text-md--line-height: 1.6;
  --text-lg--line-height: 1.6;
  --text-xl--line-height: 1.3;
  --text-2xl--line-height: 1.3;
  --text-3xl--line-height: 1.3;
  --text-4xl--line-height: 1.3;
}
